@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Главная";
}
<div>
    <center>
        <h3>Энциклопедия по стрельбе из лука</h3>
        <hr />
        <dl>
            <dr>
                <dd><p><a href="/Турнир">Турниры</a></p></dd>
            </dr>
            <dr>
                <dd><p><a href="/Участник">Участники</a></p></dd>
            </dr>
            <dr>
                <dd><p><a href="/Тренер">Тренеры</a></p></dd>
            </dr>
            <dr>
                <dd><p><a href="/Home/pobeditel">Самый титулованный лучник</a></p></dd>
            </dr>
            <dr>
                <dd><p><a href="/Home/tezki">Тезки участников</a></p></dd>
            </dr>
        </dl>
    </center>
</div>