@model IEnumerable<Archery.Models.pobeditel>

@{
    ViewBag.Title = "Самый титулованный лучник";
}

<h2>Самый титулованный лучник</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ФИО лучника")
        </th>
        <th>
            @Html.DisplayName("Количество побед")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ФИО)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Количество_побед)
            </td>
        </tr>
    }
</table>
<p><a href="/Home">Назад</a></p>